*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: hsl(229, 57%, 11%);
  color: hsl(243, 100%, 93%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}
@media screen and (min-width: 960px) {
  body {
    background-image: url("./assets/img/bg-desktop.png");
    background-position: right bottom;
  }
}
@media screen and (max-width: 959px) {
  body {
    background-image: url("./assets/img/bg-mobile.png");
    background-size: cover;
  }
}

@media screen and (min-width: 960px) {
  .component {
    display: flex;
    align-items: end;
  }
  .component .menu {
    width: 350px;
    margin-right: 2rem;
    padding: 2.3rem 2.5rem;
  }
  .component .progress-bar {
    padding: 2.5rem;
    width: 540px;
  }
  .component .progress-bar__float {
    top: 0%;
    left: 75%;
    transform: translate(-50%, -50%);
    border-radius: 10px 10px 0;
  }
  .component .progress-bar__float::after {
    visibility: visible;
  }
}
@media screen and (max-width: 959px) {
  .component .menu {
    padding: 2.5rem;
    width: 325px;
    margin-bottom: 1rem;
  }
  .component .progress-bar {
    padding: 2.2rem 2.5rem 2.5rem 2.8rem;
    width: 325px;
  }
  .component .progress-bar__description {
    text-align: center;
  }
  .component .progress-bar__float {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
  }
  .component .progress-bar__float::after {
    visibility: hidden;
  }
}
.component .menu {
  background-color: hsl(228, 56%, 26%);
  height: 200px;
  border-radius: 0.5rem 7rem 0.5rem 0.5rem;
}
.component .menu__logo {
  margin-bottom: 2rem;
}
.component .menu__buttons {
  display: flex;
  align-items: center;
}
.component .menu__buttons-document {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
  background-color: hsl(229, 57%, 11%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.component .menu__buttons-folder {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
  background-color: hsl(229, 57%, 11%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.component .menu__buttons-upload {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
  background-color: hsl(229, 57%, 11%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.component .progress-bar {
  background-color: hsl(228, 56%, 26%);
  border-radius: 0.5rem;
  height: 160px;
  position: relative;
}
.component .progress-bar__description {
  font-weight: 300;
  margin-bottom: 1rem;
}
.component .progress-bar__description-used {
  font-weight: 700;
}
.component .progress-bar__container-track {
  background-color: rgba(12, 18, 44, 0.4);
  height: 20px;
  width: 100%;
  padding-left: 2px;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.component .progress-bar__container-track_bar {
  height: 14px;
  width: 81%;
  background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  border-radius: 5rem;
  display: flex;
  justify-content: right;
  align-items: center;
}
.component .progress-bar__container-track_bar-end {
  height: 10px;
  width: 10px;
  border-radius: 5rem;
  background-color: white;
  transform: translate(-2px, 0);
}
.component .progress-bar__container-range {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  font-weight: 700;
}
.component .progress-bar__float {
  position: absolute;
  height: 70px;
  width: 180px;
  background-color: hsl(0, 0%, 100%);
  color: hsl(229, 57%, 11%);
  font-size: 2.5rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.component .progress-bar__float::after {
  content: "";
  position: absolute;
  top: 80%;
  right: 0%;
  transform: translate(0%, 0%);
  background-color: hsl(0, 0%, 100%);
  height: 25px;
  width: 25px;
  transform: skewY(45deg);
}
.component .progress-bar__float-left {
  color: hsl(229, 7%, 55%);
  font-size: 0.8rem;
  font-weight: 700;
  margin-left: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
